# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\negar\jprojects\BlueAnonymousBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
